					    
					.successful_msg{
					color: #3c763d;
					background-color: #dff0d8;
					border: 1px solid #d6e9c6;
					float:left;
					margin:0;
					height:30px;
					width:100%;
					border-radius:3px;
					}
					
						.successful_msg p{
						float: left;
						font-size: 14px;
						font-weight: normal;
						line-height: 30px;
						padding:0 10px;
						width: 100%;
						margin: 0;
						}
					
					.failed_msg{
					color: #a94442;
					background-color: #f2dede;
					border: 1px solid #ebccd1;
					float:left;
					margin: 0;
					height:30px;
					width:100%;
					border-radius:3px;
					}
						.failed_msg p{
						float:left;
						font-size: 14px;
						font-weight: normal;
						line-height: 30px;
						padding:0 10px;
						width: 100%;
						margin: 0;
						}
						
					
					.already_exists_msg{
					color: #8a6d3b;
					background-color: #fcf8e3;
					border: 1px solid #faebcc;

					float:left;
					margin: 0;
					height:30px;
					width:100%;
					border-radius:3px;
					}
						.already_exists_msg p{
						float:left;
						font-size: 14px;
						font-weight: normal;
						line-height: 30px;
						padding:0 10px;
						width: 100%;
						margin: 0;
						}
						
						
						
						
					.for_edit
					{
						float: left;
					    font-size: 12px;
					    line-height: 25px;
					    margin: auto;
					    min-height: 25px;
					    text-align: center;
					    width: 50px;
					    !background:peru;
					}
					
						
					.already_exists_msg_2{
					background-color: #FFEBE8;
                    border: 1px solid #ff9999;
					float: left;
					margin: 5px 0;
					border-radius:3px;
					width: 100%;
					height:30px;
					font-size: 12px;
					text-transform: capitalize;
					}
					
						.already_exists_msg_2 p{
						color: #666;
						float: left;
						font-weight: normal;
						line-height: 30px;
						padding:0 10px;
						width: 100%;
						}
						
					.validation_msg{
					background-color: #FFEBE8;
                    border: 1px solid #ff9999;
					float: left;
					margin: 5px 0;
					border-radius:3px;
					width: 100%;
					height:30px;
					font-size: 12px;
					text-transform: capitalize;
					}
						.validation_msg p{	
						color: #666;
						float: left;
						font-weight: normal;
						line-height: 30px;
						padding:0 10px;
						width: 100%;
						}
	
	
		.hidden,#uploadFile {
			display:none;
		}
		.button {
			border: 1px solid #333;
			border-radius: 10px;
			padding: 5px;
			margin: 5px;
			background: #777;
			color: #fff;
			width:100%;
		}

		.button:hover {
			background: #333;
			cursor: pointer;
		}
	
	.seperator15{
		margin: 15px;
	}
		
/* 	.overf_man
	{
		position: fixed;
		width: 247px;
		overflow-y: scroll;
		top: 137px;
		bottom: 0;
	}
	
	.left_col{
		position22: fixed;
		width: 232px;
	} */
	
	
	
	.clearfix{
	float:left;
	}
	
	#login, #register{
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	padding: 20px;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 10px;
	float: left;
	}
	
	
		#login_form{
		margin:12px 0;
		box-shadow:0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
		border:1px solid #c8c8c8;
		}
	
	
	
	#loginTitle{
	margin:10px 0;
	}
	
	
	#loginImage{
	width:150px;
	}
	
	
	#loginCompanyLogo{
	width:60px;
	}
		.login_content h1{
		color:#3D93CC;
		}
		
		
	
	
	#footerLogo{
	width:35px;
	}
	
	
	.DTTT_container{
	float: left;
    margin: 10px 0;
	}
	
	button.DTTT_button, div.DTTT_button, a.DTTT_button{
	padding:2px 5px;
	margin:5px;
	}
	
	
	
	.paging_full_numbers{
	height:auto;
	}
	
	.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 5px;
    margin: 8px 3px;
    cursor: pointer;
    float: left;
	}
	
	
	.dataTables_info {
    line-height: 30px;
	}
	
	
	.dataTables_paginate a {
    padding: 2px 9px !important;
    background: #ddd !important;
    border-color: #ddd !important;
	}
	
	.dataTables_filter input{
	background:#F7F7F7;
	border:1px solid #DDD;
	padding:0 5px;
	line-height:25px;
	transition:0.6s;
	}
	
	.dataTables_filter input:hover{
	background:#EDEDED;
	}
	
	
	.font_11{
		font-size: 10px;
	}
	
	/* Start by setting display:none to make this hidden.
	   Then we position it in relation to the viewport window
	   with position:fixed. Width, height, top and left speak
	   for themselves. Background we set to 80% white with
	   our animation centered, and no-repeating */
	.modals {
		display:    none;
		position:   fixed;
		z-index:    99999;
		top:        0;
		left:       0;
		height:     100%;
		width:      100%;
		background: rgba( 255, 255, 255, .8 ) 
			url('../images/ajax-loader.gif') 
			50% 50% 
			no-repeat;
	}
	.modals h1{
		text-align: center;
	}
	/* When the body has the loading class, we turn
	   the scrollbar off with overflow:hidden */
	body.loading {
		overflow: hidden;   
	}

	/* Anytime the body has the loading class, our
	   modal element will be visible */
	body.loading .modals {
		display: block;
		z-index: 99999;
	}
	
	

          .ui-widget-header {
            background: #cedc98;
            border: 1px solid #DDDDDD;
            color: #333333;
            font-weight: bold;
         }

	